{% extends 'base.html' %} 
{% load staticfiles %}

{% block content %}
  	<div class="navbar navbar-inverse ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/{{userprofile.user.username}}/" class="navbar-brand"><strong>R social</strong></a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <ul class="nav nav-pills" role="tablist">
					  <li role="presentation" class="active"><a href="/{{user.username}}/">Profile</a></li>
					  <li role="presentation"><a href="/{{user.username}}/messages/">Messages <span class="badge">3</span></a></li>
					  <li role="presentation"><a href="cerrar/">Salir</a></li>
					</ul>        
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container">
    	<div class="row">
    		<div class="col-md-4">
    			<h3>{{userprofile.user.username}} <span class="label label-default">{{age}}</span></h3>
	    		<div style="width: 100%; margin: 0 auto;">
			        <figure style="text-align: left;">
			            <img src="{{MEDIA_URL}}{{ userprofile.avatar }}" alt="{{ userprofile.user.username }}"/>
			        </figure>
		    	</div>
    		</div>
    		<div class="col-md-4">
        <br>
    			<dl class="dl-horizontal">
  				  <dt>First name:</dt>
  				  <dd>{{userprofile.first_name}}</dd>
				  </dl>
          <dl class="dl-horizontal">
              <dt>Last name:</dt>
              <dd>{{userprofile.last_name}}</dd>
          </dl>
                <dl class="dl-horizontal">
                  <dt>Date of birth:</dt>
                  <dd>{{userprofile.date_birth}}</dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>Gender:</dt>
                  <dd>{{userprofile.gender}}</dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>Sexual preference:</dt>
                  <dd>{{userprofile.sexual_preference}}</dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>Country:</dt>
                  <dd>{{userprofile.country}}</dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>About me:</dt>
                  <dd>{{userprofile.about_me}}</dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>Relationship status:</dt>
                  <dd>{{userprofile.relationship_status}}</dd>
                </dl>      
                
    		</div>
        <div class="col-md-4 ">
          <div>
          {% if is_buddy == 'A' %}
            <a href="/{{userprofile.user.username}}/delbuddy/{{subscription_id}}/" class="btn btn-danger" role="button">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete Buddy
            </a>
          {% elif is_buddy == 'B' %}
            <a href="/{{userprofile.user.username}}/acceptbuddy/{{userprofile.id}}/" class="btn btn-primary" role="button">
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Accept Request
            </a>
          {% elif is_buddy == 'C' %}
            <a href="/{{userprofile.user.username}}/addbuddy/{{userprofile.id}}/" class="btn btn-primary" role="button" disabled="disabled">
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Request Sent
            </a>
          {% elif is_buddy == 'D' %}
            <a href="/{{userprofile.user.username}}/addbuddy/{{userprofile.id}}/" class="btn btn-primary" role="button">
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Add Buddy
            </a>
          {% else %}


          {% endif %}
          </div>
          <div><br></div>
        
          {% for buddy in buddies %}
            <a href="/{{buddy.user.username}}/">
              <img src="{{MEDIA_URL}}{{ buddy.avatar }}" alt="{{ buddy.user.username }}" class="img-circle" height="20%" width="20%"/>
            </a>
          {% endfor %}
        </div>
    	</div>
    	<div class="row">
    		
    	</div>
    </div>
{% endblock %}




